*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:black;
  color:white;
}

/* HEADER */

header{
  position:fixed;
  top:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  background:rgba(0,0,0,0.6);
  backdrop-filter:blur(10px);
}

header h1{
  color:red;
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:20px;
}

nav a:hover{
  color:red;
}

/* HERO */

.hero{
  height:100vh;
  background:url('https://images.unsplash.com/photo-1511512578047-dfb367046420?q=80&w=1600') center/cover;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  position:relative;
}

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.7);
}

.content{
  position:relative;
  z-index:2;
}

.content h2{
  font-size:90px;
  color:red;
  text-shadow:0 0 20px red;
}

.content p{
  margin-top:10px;
  font-size:20px;
}

/* SEARCH BAR */

.search-box{
  margin-top:25px;
  display:flex;
  justify-content:center;
  gap:10px;
}

.search-box input{
  padding:12px 20px;
  width:260px;
  border-radius:30px;
  border:2px solid red;
  background:black;
  color:white;
  outline:none;
}

.search-box button{
  padding:12px 20px;
  border:none;
  border-radius:30px;
  background:red;
  color:white;
  cursor:pointer;
}

.search-box button:hover{
  background:white;
  color:red;
}

/* BUTTON */

#enterBtn{
  margin-top:25px;
  padding:14px 40px;
  border:none;
  border-radius:30px;
  background:red;
  color:white;
  cursor:pointer;
}

#enterBtn:hover{
  transform:scale(1.1);
}